body {
    display: flex;
    margin: 0;
    padding: 0;
    flex-flow: column;
    background-color: #f8adc3;
}

.header {
    display: flex;
    margin: auto;
    flex-flow: row;
}

h1 {
    display: flex;
    margin: 30px 15px;

    font-size: 70px;
    font-family: "Montserrat ExtraBold", sans-serif;
    color: #524A4E;
}

h1:hover {
    cursor: pointer;
}

a {
    transition: .3s;
    color: inherit;
    text-decoration: none;
}

a:hover {
    transition: .3s;
    color: #95E1D3;
}

.c-i {
    display: grid;
    margin: auto auto 50px auto;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 300px);
    width: 90%;
    justify-content: center;
}

section {
    display: flex;
    width: 300px;
    height: 300px;
    background-color: #FDEFF4;
}

img {
    width: 80%;
    height: 80%;
    border: #524A4E solid;
    margin: auto;
}

img:hover {
    border: #95E1D3 solid;
    cursor: pointer;
}