/* Переменные для css-файла.
--border_width — толщина границ у всех блоков */
:root {
    --border_width: 6px;
    --border_color: #5E7C96;
}

/* Раздел с загрузкой нужных шрифтов */
@font-face {
    font-family: 'Onest';
    src: url('../fonts/Onest-Light.eot');
    src: url('../fonts/Onest-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Onest-Light.woff2') format('woff2'),
    url('../fonts/Onest-Light.woff') format('woff'),
    url('../fonts/Onest-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Onest';
    src: url('../fonts/Onest-Bold.eot');
    src: url('../fonts/Onest-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Onest-Bold.woff2') format('woff2'),
    url('../fonts/Onest-Bold.woff') format('woff'),
    url('../fonts/Onest-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Onest';
    src: url('../fonts/Onest-ExtraBold.eot');
    src: url('../fonts/Onest-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Onest-ExtraBold.woff2') format('woff2'),
    url('../fonts/Onest-ExtraBold.woff') format('woff'),
    url('../fonts/Onest-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Onest';
    src: url('../fonts/Onest-Thin.eot');
    src: url('../fonts/Onest-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Onest-Thin.woff2') format('woff2'),
    url('../fonts/Onest-Thin.woff') format('woff'),
    url('../fonts/Onest-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Onest';
    src: url('../fonts/Onest-Regular.eot');
    src: url('../fonts/Onest-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Onest-Regular.woff2') format('woff2'),
    url('../fonts/Onest-Regular.woff') format('woff'),
    url('../fonts/Onest-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Onest';
    src: url('../fonts/Onest-Medium.eot');
    src: url('../fonts/Onest-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Onest-Medium.woff2') format('woff2'),
    url('../fonts/Onest-Medium.woff') format('woff'),
    url('../fonts/Onest-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Onest';
    src: url('../fonts/Onest-Black.eot');
    src: url('../fonts/Onest-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Onest-Black.woff2') format('woff2'),
    url('../fonts/Onest-Black.woff') format('woff'),
    url('../fonts/Onest-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #133765;
}

a {
    text-indent: 500px;
    line-height: 80%;
}

a:link, a:visited {
    color: #2B4F7E;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #41699c;
    background-color: transparent;
    text-decoration: underline;
}

#input-label > #input {
    display: none;
}

#canvas {
    width: 45%;
    border: var(--border_width) solid #A9C1C7;
    cursor: grab;
}

/* Стиль почти всего текста.
Размеры лучше указывать напрямую в html через style */
.bold_text {
    font-family: 'Onest', sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #A9C1C7;
    margin: 0;
}

/* Стиль маленького и неважного текста.
Размеры лучше указывать напрямую в html через style */
.medium_text {
    font-family: 'Onest', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    line-height: 95%;
}

/* Внешняя рамка, самая база */
.frame {
    display: flex;
    flex-wrap: wrap;
    width: 92%;
    height: 100%;
    margin: 2% 4% 0;
    border: var(--border_width) solid var(--border_color);
    border-bottom-style: none;
    padding: 0;
    float: top;
}

/* Стиль шапки с логотипом */
.logo_block {
    zoom: 0.4;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Строка, в которую встраиваются блоки. Сама по себе пустая */
.row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    border: none;
    border-bottom: var(--border_width) solid var(--border_color);
}

/* Блок слева */
.block_left {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    outline: var(--border_width) solid var(--border_color);
    padding: 0;
    float: top;
}

/* Блок справа */
.block_right {
    display: flex;
    flex: 4;
    width: 50%;
    height: 100%;
    flex-flow: column nowrap;
    align-content: space-between;
    padding: 0;
    float: top;
}

/* Мини-блок с разделом загрузки */
.block_download {
    display: flex;
    flex-wrap: nowrap;
    align-self: flex-end;
    width: 100%;
    height: 80px;
    border: none;
    border-top: var(--border_width) solid var(--border_color);
}

/* Можно вставить в строку и получится строка-отступ */
.placeholder {
    width: 100%;
    height: 40px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload_block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 60px);
    background-image: url('../assets/stripped_background.png');
}

.edit_block {
    display: flex;
    flex-wrap: nowrap;
    margin-left: var(--border_width);
    padding: 0 10px 10px;
}

.big_sticker_placeholder {
    width: 45%;
    padding: 0 10px 10px;
    border: var(--border_width) solid #A9C1C7;
}

.big_sticker_placeholder:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.block_with_edit_buttons {
    display: flex;
    width: calc(55% - 10px);
    flex-flow: column nowrap;
}

.help_button {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    background-color: #7A96AB;
    height: 3.5em;
    width: calc(100% - 18px);
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 8px;
}

.sticker_text_block {
    width: calc(100% - 18px);
    background-color: #2B4F7E;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 8px;
    justify-content: left;
}

.sticker_text_header {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
}

.sticker_text_block_with_input {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

.to_gallery_button {
    width: calc(100% - 18px);
    height: 3.5em;
    background-color: #2B4F7E;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 8px;
}

.input_field {
    width: calc(100% - 30px);
    height: 50px;
    border: none;
    font-size: 25px;
    margin: 10px 10px 10px 0;
}

.input_field::placeholder {
    color: #CBCBCB;
}

.magic_button {
    display: flex;
    width: 52px;
    height: 52px;
    max-width: 70%;
    background-color: #A9C1C7;
    margin: 10px 10px 10px 5px;
}

.delete_button {
    background-color: #8D5D5D;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
    height: 3.5em;
    width: calc(100% - 18px);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-left: 8px;
}

.download_button {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 18px;
    height: calc(100% - 20px);
    flex: 6.5;
    background-color: #5D8D76;
    border: none;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
}

.gallery_button {
    font-size: 35px;
    margin: 10px;
    flex: 3.5;
    height: calc(100% - 20px);
    background-color: rgba(78, 129, 140, 0.47);
    border: none;
}

.guides_button {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 50px;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.guide_list {
    margin-top: -15px;
    margin-bottom: 15px;
}

.list_item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 10px;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.lightbox {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.8);
    z-index: 2;
}

.lightbox_window {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    width: 70%;
    background-color: #2B4F7E;
    margin: 20% auto auto;
    z-index: 3;
    padding: 15px;
}

.lightbox_text {
    font-family: 'Onest';
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    margin: 10px;
    line-height: 95%;
    color: #A9C1C7;
}

.lightbox_close_button {
    font-size: 28px;
    background-color: #9b5050;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 36px;
}

.c-i {
    display: grid;
    margin: auto auto 50px auto;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 300px);
    width: 90%;
    justify-content: center;
}

.gallery_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: #FDEFF4;
}

.img_gallery_sticker {
    width: 80%;
    border: #524A4E solid;
    margin: auto;
}

.img_gallery_sticker:hover {
    border: #95E1D3 solid;
    cursor: pointer;
}