body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    flex-flow: column;
    background-color: #f8adc3;
}

h1 {
    display: flex;
    margin: 30px auto;

    font-size: 70px;
    font-family: "Montserrat ExtraBold", sans-serif;
    color: #524A4E;
}

h3 {
    position: absolute;
    top: 0;
    right: 50px;

    font-size: 35px;
    font-family: "Montserrat Medium", sans-serif;
    color: #524A4E;
}

h1, h3:hover {
    cursor: pointer;
}

a {
    transition: .3s;
    color: inherit;
    text-decoration: none;
}

a:hover {
    transition: .3s;
    color: #95E1D3;
}

section {
    display: block;
    margin: 0 auto;
}

.block {
    z-index: 500;
    display: flex;
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
    background-color: #524A4E;
}

.block:active {
    cursor: all-scroll;
}

.block-i {
    display: flex;
    margin: auto;
    width: 80%;
    height: 80%;
    background-color: #f8adc3;
}

#input-label {
    z-index: 499;
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    transition: .3s;
}

#input-label.dragover {
    background-color: #95E1D3;
}

#input-label:hover {
    cursor: pointer;
    background-color: #95E1D3;
    transition: .3s;
}

#input-label > #input {
    display: none;
}

#canvas {
    display: none;
    margin: auto;
    width: 100%;
    height: 100%;
}

#buttons {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    flex-wrap: wrap;
    justify-content: center;
}

.b-e {
    width: 55px;
    height: 55px;
    margin: auto 10px;
}

button.b-e.close {
    margin: 0 0 0 auto;
    background-color: transparent;
}

button {
    display: flex;
    border: 0;
    background-color: #524A4E;
    transition: .3s;
    user-select: none;
}

button:hover {
    cursor: pointer;
    background-color: #95E1D3;
    transition: .3s;
}

.b-i {
    margin: auto;
    width: 40px;
    height: 40px;
}

#input-color {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #524A4E;
    transition: .3s;
}

#input-color:hover {
    cursor: pointer;
    background-color: #95E1D3;
    transition: .3s;
}

.input-text-class {
    width: 175px;
}

#input-text {
    width: 175px;
    height: 100%;
    border: none;
    outline: 0;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-size: 24px;
    font-family: "Montserrat Medium", sans-serif;
    color: #524A4E;
}

.text {
    display: flex;
    margin: auto;
}

.text-type-1 {
    font-family: "Montserrat Medium", sans-serif;
    color: #524A4E;
    font-size: 30px;
}

.text-type-2 {
    font-family: "Montserrat Medium", sans-serif;
    color: #FDEFF4;
    font-size: 30px;
}

#galleryWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    display: none;
    flex-flow: column;
    width: 600px;
    height: 600px;
    background-color: #FDEFF4;
}

#gw-img {
    width: 400px;
    height: 400px;
    margin: 0 auto 30px auto;
}

.gw-b {
    width: 400px;
    height: 50px;
    margin:  0 auto;
}

@media only screen and (max-width: 1000px) {
    .block {
        width: 700px;
        height: 700px;
        margin-bottom: 60px;
    }

    .b-e {
        height: 90px;
        width: 90px;
        margin: 10px;
    }

    .b-i {
        width: 50px;
        height: 50px;
    }

    .input-text-class {
        width: 310px;
    }

    #input-text {
        width: 310px;
        font-size: 34px;
    }

    .text-type-2 {
        font-family: "Montserrat Medium", sans-serif;
        color: #FDEFF4;
        font-size: 45px;
    }
}