body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    flex-flow: column;
    background-color: #ffcaca;
}

section {
    display: flex;
    width: 450px;
    height: 450px;
    margin: auto;
    padding: 30px;
    border-radius: 5vh;
    background-color: #fff;
}

#canvas {
    display: flex;
    margin: auto;
    width: 400px;
    height: 400px;
}