body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.image {
    display: block;
    margin: auto auto;
    background: #fff;
    max-width: 60%;
    max-height: 600px;
}

.canvas {
    display: block;
    max-width: 60%;
    max-height: 600px;
    position: absolute;
}