body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    flex-flow: column;
    background-color: #f8adc3;
}

header {
    display: flex;
    margin: auto;
    font-size: 50px;
}

section {
    display: block;
    margin: auto;
}

.block {
    z-index: 500;
    display: flex;
    width: 400px;
    height: 400px;
    margin-bottom: 40px;
    background-color: #524A4E;
}

.block:active {
    cursor: all-scroll;
}

.block-i {
    display: flex;
    margin: auto;
    width: 80%;
    height: 80%;
    background-color: #f8adc3;
}

#input-label {
    z-index: 499;
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    transition: .3s;
}

#input-label.dragover {
    background-color: #95E1D3;
}

#input-label:hover {
    cursor: pointer;
    background-color: #95E1D3;
    transition: .3s;
}

#input-label > #input {
    display: none;
}

#canvas {
    display: none;
    margin: auto;
    width: 100%;
    height: 100%;
}

#buttons {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.b-e {
    height: 55px;
    margin: auto 10px;
}

button {
    display: flex;
    border: 0;
    background-color: #524A4E;
    transition: .3s;
    user-select: none;
}

button:hover {
    cursor: pointer;
    background-color: #95E1D3;
    transition: .3s;
}

#submit {
    width: 175px;
}

#input-color {
    width: 55px;
    height: 100%;
    border: none;
    background-color: #524A4E;
    transition: .3s;
}

#input-color:hover {
    cursor: pointer;
    background-color: #95E1D3;
    transition: .3s;
}

#reload {
    width: 55px;
}

.reload-i {
    margin: auto;
    width: 40px;
    height: 40px;
}

#input-text {
    width: 175px;
    height: 100%;
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-family: "Montserrat Medium", sans-serif;
    color: #524A4E;
}

.text {
    display: flex;
    margin: auto;
}

.text-type-1 {
    font-family: "Montserrat Medium", sans-serif;
    color: #524A4E;
    font-size: 30px;
}

.text-type-2 {
    font-family: "Montserrat Medium", sans-serif;
    color: #FDEFF4;
    font-size: 30px;
}

/*@media only screen and (max-width: 1000px) {*/
/*    .block {*/
/*        width: 700px;*/
/*        height: 700px;*/
/*        margin-bottom: 60px;*/
/*    }*/

/*    #submit {*/
/*        width: 275px;*/
/*        height: 80px;*/
/*    }*/

/*    .text-type-1 {*/
/*        font-family: "Montserrat Medium", sans-serif;*/
/*        color: #524A4E;*/
/*        font-size: 55px;*/
/*    }*/

/*    .text-type-2 {*/
/*        font-family: "Montserrat Medium", sans-serif;*/
/*        color: #FDEFF4;*/
/*        font-size: 45px;*/
/*    }*/
/*}*/