<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TSFL Gallery</title>
    <link rel="stylesheet" href="../css/galleryStyles.css">
</head>
<body>
    <div class="header">
        <h1>
            <a href="/">TSFL</a>
        </h1>
        <h1>
            <a href="">Gallery</a>
        </h1>
    </div>

    <div class="container">

    </div>
</body>
</html>