<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TSFM Gallery</title>
    <link rel="stylesheet" href="../css/gallery.css">
</head>
<body>
    <div class="header">
        <h1>
            <a href="/">TSFM</a>
        </h1>
        <h1>
            <a href="">Gallery</a>
        </h1>
    </div>

    <div id="container">
        <h2 v-if="stickers.length === 0">Loading stickers ...</h2>
        <div class="c-i" v-else>
            <section v-for="sticker in stickers">
                <img :src="sticker.data" alt="" onclick="download(this)">
            </section>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="../controllers/gallery.js"></script>
</body>
</html>