<!DOCTYPE html>
<html lang="en">
<head>
    <title>TSFM</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>

<h1>
    <a href="">TSFM</a>
</h1>

<h3>
    <a href="/gallery">Gallery</a>
</h3>

<div id="galleryWindow">
    <button id="galleryWindowClose" class="b-e close" onclick="closeWindow()">
        <img class="b-i" src="../images/crossDark.png" alt="" draggable="false">
    </button>
    <img id="gw-img" src="" alt="">
    <button class="gw-b" onclick="addToGallery()">
        <div class="text text-type-2">
            Add to public gallery
        </div>
    </button>
</div>

<section>
    <div class="block">
        <div class="block-i">
            <label id="input-label">
                <input id="input" type="file">
                <span class="text text-type-1">Choose image<br>or drag it here</span>
            </label>
            <canvas id="canvas" width="512px" height="512px"></canvas>
        </div>
    </div>
    <div id="buttons">
        <button id="submit" class="b-e" onclick="onSubmitClick()">
            <img class="b-i" src="../images/tick.png" alt="" draggable="false">
        </button>
        <label class="b-e">
            <input id="input-color" type="color" title="Change background color">
        </label>
        <button id="reload" class="b-e" onclick="document.location.reload();" title="Reload">
            <img class="b-i" src="../images/reload.png" alt="" draggable="false">
        </button>
        <label class="input-text-class b-e">
            <input id="input-text" type="text" placeholder="Enter text" maxlength="12">
        </label>
    </div>
</section>

<script src="../controllers/index.js"></script>

</body>
</html>