<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Image → TG Sticker</title>
    <link rel="icon" href="assets/favicon.png">
    <link rel="stylesheet" href="../css/index.css"/>
</head>
<body>

    <div class="frame">

        <div class="row">
            <div class="logo_block">
                <img src="assets/logo1.png" alt="logo">
                <img src="assets/logo2.png" alt="logo">
                <img src="assets/logo3.png" alt="logo">
            </div>
        </div>

        <div class="row">
            <div class = "block_left">
                <p class="header bold_text" style="font-size: 32px; text-align: center; padding-top: 10px; padding-bottom: 8px">
                    <img src="assets/arrow_up.png" style="width: 30px; height: 30px; padding-right: 5px" alt="">Загрузите изображение
                </p>
                <label id="input-label" class="upload_block clickable">
                    <input id="input" type="file">
                    <span class="bold_text" style="font-size: 32px; position:absolute; text-align:center;">Перетащите файл в эту область<br><mark style="color: #DDF7FE; background-color: #5D8D76">или <u>нажмите сюда</u></mark></span>
                </label>
            </div>
            <div class = "block_right">
                <p class="header bold_text" style="font-size: 32px; text-align: center; padding-top: 10px; padding-bottom: 8px">
                    <img src="assets/pen.png" style="width: 30px; height: 30px; padding-right: 5px" alt="">Отредактируйте результат
                </p>
                <div class="edit_block">
                    <canvas id="canvas" width="512px" height="512px"></canvas>

                    <div class="block_with_edit_buttons">
                        <div class="help_button clickable" onclick="changeVisibilityById('lightbox_info', true)">
                            <img src="assets/question.png" style="width: 40px; height: 40px; padding-right: 10px" alt="">
                            <p class="bold_text" style="font-size: 25px; color: #133765"><u>Как редактировать?</u></p>
                        </div>
                        <div class="sticker_text_block">
                            <div class="sticker_text_header">
                                <img src="assets/Aa.png" style="width: 40px; height: 40px; padding-right: 10px" alt="">
                                <p class="bold_text" style="font-size: 25px; margin-top: 10px; margin-bottom: 5px">Подписать стикер</p>
                            </div>
                            <div class="sticker_text_block_with_input">
                                <input id="input-text" type="text" class="input_field bold_text" placeholder="Введите текст" style="">
                                <div class="magic_button clickable" onclick="generateImageText()"><img src="assets/magic_wand.png" alt="Генерация"></div>
                            </div>
                        </div>
                        <div class="to_gallery_button">
                            <p class="bold_text" style="font-size: 25px; padding-left: 10px; padding-right: 10px">Оставить в галерее</p>
                            <input id="gallery-checkbox" type="checkbox" style="width: 30px; height: 30px">
                        </div>
                    </div>

                </div>

                <div class = "block_download">
                    <button class="download_button clickable" onclick="onSubmitClick()">
                        <img src="assets/arrow_down.png" style="width: 30px; height: 30px; padding-right: 5px" alt=""><p class="bold_text" style="color: #DDF7FE"><u>Скачать</u></p></button>
                    <button class="gallery_button clickable" onclick="changeVisibilityById('lightbox_gallery', true)" type="button">
                        <img src="../assets/gallery.png" style="width: 30px; height: 30px; padding-right: 5px" alt=""><p class="bold_text" style="color: #DDF7FE"><u>Галерея</u></p>
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="placeholder"></div>
        </div>

        <div class="row">
            <div class = "block_left">
                <div class="guides_button">
                    <p class="bold_text" style="font-size: 32px; text-align: center; text-align: justify">Гайды</p>
                </div>
                <div class="guide_list">
                    <div class = "list_item clickable" onclick="changeVisibilityById('lightbox_guide1', true)">
                        <img src="assets/number1.png" style=" width: 50px; height: 55px">
                        <p class="medium_text" style="font-size: 32px; text-align: left; color: #A9C1C7; margin: 10px">
                            <u>Как создать стикерпак в Телеграме?</u></p>
                    </div>
                    <div class = "list_item clickable" onclick="changeVisibilityById('lightbox_guide2', true)">
                        <img src="assets/number2.png" style="width: 50px; height: 55px">
                        <p class="medium_text" style="font-size: 32px; text-align: left; color: #A9C1C7; margin: 10px">
                            <u>Как пополнять свои стикерпаки?</u></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p class="medium_text" style="font-size: 18px; text-align: center; color: #2B4F7E; margin: 30px;"><a href="https://github.com/converter-to-telegram-stickers"> Командный проект «Веб-разработки», ФТ-203</a><br>
        Алексей Соколков, Диляра Фатыхова, Михаил Ланец, Мария Драпкина (c) 2022</p>

    <div id="lightbox_info" class="lightbox">
        <div class="lightbox_window">
            <p class="bold_text" style="font-size: 30px; margin: 10px; line-height: 95%; color: #A9C1C7;">1. Выбор области / обрезка</p>
            <p class="lightbox_text" style="font-size: 25px; text-align: left;">Чтобы выбрать нужную область картинки, перемещайте ее. Картинка будет обрезана в соответствии с рамкой.</p>
            <img src="assets/tutorial1.png" style="height: 50%; width: 50%">
            <p class="bold_text" style="font-size: 30px; margin: 10px; line-height: 95%; color: #A9C1C7;">2. Приближение / отдаление</p>
            <p class="lightbox_text" style="font-size: 25px; text-align: left;">Используйте колесико мыши (жест двумя пальцами на трекпаде) для приближения/отдаления картинки.</p>
            <img src="assets/tutorial2.png" style="height: 50%; width: 50%">
            <div class="lightbox_close_button clickable" onclick="changeVisibilityById('lightbox_info', false)" style="background-color: #5D8D76"><p class="bold_text" style="color: #b2c6e1">OK</p></div>
        </div>
    </div>

    <div id="lightbox_guide1" class="lightbox">
        <div class="lightbox_window">
            <p class="bold_text" style="font-size: 30px; margin: 10px; line-height: 95%; color: #A9C1C7;">1. Начните общение с Телеграм-ботом @Stickers.</p>
            <p class="lightbox_text" style="font-size: 25px; text-align: left;">Напишите команду /start.</p>
            <p class="bold_text" style="font-size: 30px; margin: 10px; line-height: 95%; color: #A9C1C7;">2. Создайте новый пак через команду /newpack.</p>
            <p class="lightbox_text" style="font-size: 25px; text-align: left;">После этого бот спросит о названии и идентификаторе пака. Обратите внимание, что после ввода идентификатор поменять нельзя.</p>
            <p class="bold_text" style="font-size: 30px; margin: 10px; line-height: 95%; color: #A9C1C7;">3. Добавьте первые стикеры.</p>
            <p class="lightbox_text" style="font-size: 25px; text-align: left;">Загрузите файлы, полученные на этом сайте. К каждому стикеру нужно придумать короткое обозначение-эмодзи.</p>
            <p class="bold_text" style="font-size: 30px; margin: 10px; line-height: 95%; color: #A9C1C7;">4. Готово!</p>
            <p class="lightbox_text" style="font-size: 25px; text-align: left; margin-bottom: 20px">В дальнейшем пополнять и редактировать стикерпак можно будет через этого же бота.</p>
            <div class="lightbox_close_button clickable" onclick="changeVisibilityById('lightbox_guide1', false)" style="background-color: #5D8D76"><p class="bold_text" style="color: #b2c6e1">OK</p></div>
        </div>
    </div>

    <div id="lightbox_guide2" class="lightbox">
        <div class="lightbox_window">
            <p class="bold_text" style="font-size: 30px; margin: 10px; line-height: 95%; color: #A9C1C7;">1. Продолжите общение с Телеграм-ботом @Stickers.</p>
            <p class="lightbox_text" style="font-size: 25px; text-align: left;">Напишите команду /addsticker.</p>
            <p class="bold_text" style="font-size: 30px; margin: 10px; line-height: 95%; color: #A9C1C7;">2. Выберите необходимый стикерпак.</p>
            <p class="lightbox_text" style="font-size: 25px; text-align: left;">В списке нужно выбрать соответствующий идентификатор нужного стикерпака.</p>
            <p class="bold_text" style="font-size: 30px; margin: 10px; line-height: 95%; color: #A9C1C7;">3. Добавьте первый стикер.</p>
            <p class="lightbox_text" style="font-size: 25px; text-align: left;">Загрузите файл, полученный на этом сайте. К стикеру нужно придумать короткое обозначение-эмодзи.</p>
            <p class="bold_text" style="font-size: 30px; margin: 10px; line-height: 95%; color: #A9C1C7;">4. Далее можно добавить еще один стикер!</p>
            <p class="lightbox_text" style="font-size: 25px; text-align: left;">...и так до бесконечности.</p>
            <p class="bold_text" style="font-size: 30px; margin: 10px; line-height: 95%; color: #A9C1C7;">5. Завершите добавление новых стикеров командой /done.</p>
            <p class="lightbox_text" style="font-size: 25px; text-align: left; margin-bottom: 20px">Стикерпак автоматически обновится в течение нескольких минут. Вы замечательны!</p>
            <div class="lightbox_close_button clickable" onclick="changeVisibilityById('lightbox_guide2', false)" style="background-color: #5D8D76"><p class="bold_text" style="color: #b2c6e1">OK</p></div>
        </div>
    </div>

    <div id="lightbox_gallery" class="lightbox">
        <div class="lightbox_window">
            <div class="lightbox_close_button clickable" onclick="changeVisibilityById('lightbox_gallery', false)" style="justify-content: left; margin-bottom: 10px"><p class="bold_text" style="color: #DDF7FE; padding-left: 20px">← Вернуться</p></div>
            <p class="header bold_text" style="font-size: 32px; text-align: center; padding-bottom: 4px">
                <img src="../assets/gallery.png" style="width: 30px; height: 30px; padding-right: 5px" alt="">Галерея публичных стикеров
            </p>
            <p class="medium_text" style="font-size: 24px; text-align: center; padding-bottom: 8px; color: #A4B8BF">
                Для скачивания нажмите на стикер.
            </p>
            <div id="container">
                <p class="lightbox_text" v-if="stickers.length === 0">Тут пока пусто! Попробуйте обновить страницу :(</p>
                <div class="c-i" v-else>
                    <section class="gallery_section" v-for="sticker in stickers">
                        <img class="img_gallery_sticker" :src="sticker.data" alt="Sticker" onclick="download(this)">
                    </section>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="../controllers/gallery.js"></script>
    <script src="../controllers/index.js"></script>
</body>
</html>